name: flutter_image_app
description: "A new Flutter project."

publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.10.0

dependencies:
  flutter:
    sdk: flutter
  flutter_bloc: ^9.1.1
  cupertino_icons: ^1.0.8
  flutter_svg: ^2.2.3
  gal: ^2.3.2
  image_picker: ^1.2.1
  equatable: ^2.0.8
  image_gallery_saver: ^2.0.3
  path_provider: ^2.1.5
  permission_handler: ^12.0.1
  uuid: ^4.5.2

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/icons/